@model ClassifiedAds.Models.AdDetail

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>AdDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AdType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AdType)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Image_path)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Image_path)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Customer.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Customer.UserName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
